%h1 Multi-Enum

%hr

%h4 Feel free to play around and see how it works

= render 'widgets'

%table
  %thead
    %tr
      %th Name
      %th Option ID
      %th Options
      %th{colspan: 2}

  %tbody#list
    = render 'list'

%br

= link_to 'New Widget', new_widget_path

%hr{style: 'margin: 50px 0;'}

.form-group
  = render 'info'
