%h1 Listing widgets

= render 'widgets'

%table
  %thead
    %tr
      %th Name
      %th Option ID
      %th Options
      %th{colspan: 3}

  %tbody#list
    = render 'list'

%br

= link_to 'New Widget', new_widget_path
